.flexbox-grid{
    display: flex;
    flex-direction: column;
    margin-left: 625px;
    margin-right: 625px;
}

.col{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.button{
    flex-grow: 1;
    flex-basis: 0;
    font-weight: bold;
    background-color: blue;
    color: wheat;
    padding: 20px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center
}

.title{
    flex-grow: 1;
    flex-basis: 0;
    color: wheat;
    text-align: center
}

.simpleText{
    color: white;
}

body{
    background-color: black;
    margin-top: 10%;
}
